.login-page {
  background-color: #EAC435;
  margin-top: 20vh;
  border-radius: 7px;
  padding: 40px;
  h2 {
    font-family: "Abril Fatface", "cursive";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
    color: #023F63;
  }
}

.signup-page {
  background-color: #EAC435;
  margin-top: 10vh;
  border-radius: 7px;
  padding: 40px;
    h2 {
    font-family: "Abril Fatface", "cursive";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
    color: #023F63;
  }
  p{
    margin-bottom: 8px;
    color: white;
  }
  .file .optional{
    margin-top: 6px;
  }
}

