// Specific CSS for your home-page

h1 {
  color: $blue;
}

h2 {
  font-family: $body_font;
}

h4{
  font-family: $body_font;
}

p {
  color: $blue;
  line-height: 125%;
}

.wrappaer {
  height: 100vh;
}

.wrapper-1 {
    margin-bottom: 40px;
}

.wrapper-2 {
    margin-bottom: 40px;
}

.main-title {
  font-family: $headers-font;
  font-size: 125px;
  line-height: 93.9%;
  border-bottom: solid 15px $blue;
  width: fit-content;
  padding-bottom: 20px;
}

.secondary {
  width: 55%;
  font-size: 20px;
}

.top-part {
  margin-left: 50px;
  display: flex;
}

.image {
  background-color: $yellow;
  height: 94vh;
  position: relative;
}

.cactus {
  position: absolute;
  right: 0;
}

.cactus img {
  height: 94vh;
}

//phase 2

.background {
  background-image: url('https://res.cloudinary.com/diu66bbfw/image/upload/v1565907628/yellow_bg.png');
  height: 94vh;
  max-width: 100%;
  background-size: cover;
  margin: auto 100px;
  position: relative;
}

.klafs-wrapper{
  display: flex;
  height: 94vh;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: auto 50px;
}

.klaf {
  height: 400px;
  width: 340px;
  background-color: white;
  top: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-top: 5%;

}

.sub-title {
  background-color: $blue;
}

.klaf-title {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.button {
  background-color: $blue;
  width: fit-content;
  font-size: 30px;
  border-radius: 5px;
  margin: auto;
  margin-top: -30px;
}

.p-button{
  color: $yellow;
  margin: 0;
  padding: 10px 15px;
}

//Animation

.fade-in {
      padding-bottom: 35px;
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// ------ Home Top ------ //

// .hometop-wrapper {
//   height: calc(100vh - 60px);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .top-left {
//   margin-left: 40px;
// }
// .top-left h1 {
//   font-weight: bold;
//   font-size: 75px;
//   border-bottom: 10px solid $blue;
// }

// .top-left p {
//   font-size: 20px;
// }

// .top-right {
//   background-image: url('https://res.cloudinary.com/diu66bbfw/image/upload/v1565907671/landing_page.png');
//   background-color: $yellow;
//   width: calc(50vh);
//   background-size: cover;
//   background-position: center;
//   object-fit: cover;
// }


// // ------ Home Bottom ------ //

// .homebottom-wrapper {
//   height: calc(100vh);
//   background-image: url('https://res.cloudinary.com/diu66bbfw/image/upload/v1565907628/yellow_bg.png');
//   background-size: cover;
//   background-position: center;
//   object-fit: cover;
// }

// .cards {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .home-card {
//   background-color: $white;
//   text-align: center;
//   border-radius: 5px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
//   margin: 10px;
//   padding: 10px;
//   // position: absolute;
// }

// .home-card-label {
//   // position: relative;
//   // top: 20px;
//   background-color: $blue;
//   color: $white;
// }


