<div class="hometop-wrapper">
  <div class="top-left">
    <h1 class="home-title">Earn<br>Your<br>Spikes</h1>
    <p>Just landed, what to do?<br>How about a falafel rendezvous?<br>Find Yossi, on your computer. Challenge accepted, then hop on your scooter.<br>Take a bite, it's so good. Now you're on your way to sabra-hood.</p>
  </div>
  <div class="top-right">
    <p></p>
  </div>
</div>

<div class="homebottom-wrapper">
  <div class="homebottom-container">
    <div class="cards">
      <div class="home-card">
       <h1 class="home-card-label">Food</h1>
       <p class="home-card-description">Something to say about this</p>
      </div>
      <div class="home-card">
        <h1 class="home-card-label">Hutzpa</h1>
        <p class="home-card-description">Something to say about this</p>
      </div>
      <div class="home-card">
        <h1 class="home-card-label">Activities</h1>
        <p class="home-card-description">Something to say about this</p>
      </div>
    </div>
  </div>
</div>
