<div class="wrapper-1">
  <div class="top-part">
    <div class="text">
      <h1 class="main-title fade-in">Earn<br>your<br>spikes</h1>
      <p class="secondary fade-in">
        Just landed, what to do? How about a little falafel rendezvous? Find Yossi on your computer. Challenge accepted then hop on your scooter. Take a bite, its so good. Now your on your way to sabra-hood.
      </p>
    </div>
    <div class="image">
      <div class="cactus">
        <img src="https://res.cloudinary.com/diu66bbfw/image/upload/v1565907671/landing_page.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="wrapper-2">
  <div class="background">
    <div class="klafs-wrapper">
       <div class="klaf">
          <div class="sub-title">
            <h2 class="klaf-title">FOOD</h2>
          </div>
          <div class="icon">
            <img src="https://res.cloudinary.com/diu66bbfw/image/upload/v1565907671/fish.png" alt="">
          </div>
          <p class="secondary-klaf">
            Just landed, what to do? How about a little falafel rendezvous? Find Yossi on your computer. Challenge accepted then hop on
          </p>
      </div>
      <div class="klaf">
        <div class="sub-title">
            <h2 class="klaf-title">HUTZPA</h2>
          </div>
          <div class="icon">
            <img src="https://res.cloudinary.com/diu66bbfw/image/upload/v1565907671/hand.png" alt="">
          </div>
          <p class="secondary-klaf">
            Just landed, what to do? How about a little falafel rendezvous? Find Yossi on your computer. Challenge accepted then hop on
          </p>
      </div>
       <div class="klaf">
        <div class="sub-title">
            <h2 class="klaf-title">ACTIVITY</h2>
          </div>
          <div class="icon">
            <img src="https://res.cloudinary.com/diu66bbfw/image/upload/v1565907671/ball.png" alt="">
          </div>
          <p class="secondary-klaf">
            Just landed, what to do? How about a little falafel rendezvous? Find Yossi on your computer. Challenge accepted then hop on
          </p>
      </div>
    </div>

  <div class="button">
    <h4 class="p-button">Let's Go</h4>
  </div>
  </div>
</div>



<!--
<div class="hometop-wrapper">
  <div class="top-left">
    <h1 class="home-title">Earn<br>Your<br>Spikes</h1>
    <p>Just landed, what to do?<br>How about a falafel rendezvous?<br>Find Yossi, on your computer. Challenge accepted, then hop on your scooter.<br>Take a bite, it's so good. Now you're on your way to sabra-hood.</p>
  </div>
  <div class="top-right">
    <p></p>
  </div>
</div>

<div class="homebottom-wrapper">
  <div class="homebottom-container">
    <div class="cards">
      <div class="home-card">
       <h1 class="home-card-label">Food</h1>
       <p class="home-card-description">Something to say about this</p>
      </div>
      <div class="home-card">
        <h1 class="home-card-label">Hutzpa</h1>
        <p class="home-card-description">Something to say about this</p>
      </div>
      <div class="home-card">
        <h1 class="home-card-label">Activities</h1>
        <p class="home-card-description">Something to say about this</p>
      </div>
    </div>
  </div>
</div>
 -->
